<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p style="color: red; font-weight: bold" th:text="'Dear ' + ${fullName} + ','"></p>
<p th:text="'You have an order with us with the following information: '"></p>
<table border="1">
    <tr>
        <th>index</th>
        <th>productName</th>
        <th>qty</th>
        <th>price</th>
        <th>total</th>
    </tr>
    <tr th:each="prd, state : ${product}">
        <td th:utext="${state.index}">index</td>
        <td th:utext="${prd.productName}">productName</td>
        <td th:utext="${prd.quantity}">qty</td>
        <td th:utext="${prd.listPrice}">price</td>
        <td th:utext="${prd.totalPrice}">price</td>
    </tr>
</table>
<p style="color: red; font-weight: bold" th:text="'Status: ' + ${status} + ','"></p>
<p style="color: red; font-weight: bold" th:text="'paymentMethod: ' + ${paymentMethod} + ','"></p>
<p>Thanks!</p>
</body>
</html>